/* navbar */
div>footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}
.navbar-default  .navbar{
    background-color: white;
    border-color: white;
    /* width: 20cm ; */

}
.pagination>.active>a,
.pagination>.active>a:hover{
    background-color: grey;
    border: 1px solid grey;
}
a{
    /* font-family:"Times New Roman", Times, serif; */
    /* font-family: 'Courier', monospace; */
    font-weight: bold;
    color: black !important;
}
div>ul>li>div>a{
}
.profile-thumbnail{
    position: absolute;
    padding: 0;
}

.profile-header{
    margin-left: 200px;
    /* font-family: Electrolize; */
}

div.post-thumbnail{
    position: absolute;
}

div.post-date{
    float: right;
}

div.post-author{
    margin: 10px 50px;
    font-weight: bold;
}
div.post-body{
    margin: 0px 50px 10px;
}
ul.posts{
    list-style-type: none !important;
    margin: 16px 10px 0px 10px;
    //border-top: 1px solid pink;//#d7d3d3;
    padding: 0;
    // change the font family from all the post body
    /* width: 20cm; */
}
li.post{
    //margin: 20px 10px 10px 10px;
    border-bottom: 1px solid #d7d3d3;
}


page[size="A4"] {
  width: 21cm;
  height: 29.7cm;
}
page[size="A3"] {
  width: 29.7cm ;
  height: 42cm ;
}
body{
    /* background: rgb(204,204,204); */
}
div.post_tabs {
    margin: 10px;
    border-bottom: 0;
}
div.whatsinyourmind{
    //height: 100px;
}
div.flask-pagedown-preview {
    margin: 10px 0px 10px 0px;
    border: 1px solid #e0e0e0;
    padding: 4px;
}
div.flask-pagedown-input{
    height: 200px;
    border: 1px solid red;
}
