{% extends "base.html" %}
{% block title %}This is a 500 error page{% endblock %}

{% block content %}
<div class="container">
  <div class="page-header">
    <h1>Something inside is wrong, ask the IT guy to fix it!;)<h1>
  </div>
</div>
{% endblock %}

<!-- tempraily put current_user here before backend deal current_user -->
<!-- <ul class="nav navbar-nav navbar-right">
    {% if current_user.is_authenticated %}
    <li><a href="{{ url_for('auth.logout') }}">Log Out</a></li>
    {% else %}
    <li><a href="{{ url_for('auth.login') }}">Log In</a></li>
    {% endif %}
</ul> -->
