<ul class="posts">
    {% for comment in comments %}
    <li class="post-content">

            <div class="post-thumbnail">
                <a href="{{ url_for('.user', username=comment.author.username) }}">
                    <img src="{{ comment.author.gravatar(size=40) }}" class="img-rounded profile-thumbnail">
                </a>
            </div>
            <div class="post-date">
                {{ moment(comment.timestamp).fromNow() }}
            </div>
            <div class="post-author">
                {#{% if class %}
                {%%}
                {%%} #}
                <a href="{{ url_for('.user', username=comment.author.username) }}">
                    {{ comment.author.username }}
                </a>
                {% if current_user.is_adminstrator()%}
                    {% if comment.disabled %}
                        <div class="btn  btn-danger">
                            <a href="{{ url_for('.enable', id=comment.id, page=page) }}">enable</a>
                        </div>
                    {% else %}
                        <div class="btn">
                            <a href="{{ url_for('.disable', id=comment.id, page=page) }}">disable</a>
                        </div>
                    {% endif %}
                {% endif %}
            </div>
            <div class="post-body">
                {% if comment.disabled %}
                <p>------this comment disbaled-------</p>
                {% else %}
                {% if comment.body_html %}
                    {{ comment.body_html | safe }}
                {% else %}
                    {{ comment.body}}
                {% endif %}
                {% endif %}


            </div>


    </li>
    {% endfor %}
</ul>
