{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %} Home {% endblock %}

{% block content %}
<div class="container">
  <div class="page-header">
      <!-- <h1>Hello, {% if name %}{{ name|capitalize }}{% else %}Stranger{% endif %}!</h1>
      {% if not known %}
        <p>Nice to meet you!</p>
      {% else %}
        <p>Nice to see you again!</p>
      {% endif %} -->
    {% if current_user.is_authenticated %}
            <h1>Hello, {{ current_user.username|capitalize }}.</h1>
            <p>Welcome back!</p>
    {% else %}
            <h1>Hello, Stranger.</h1>
            <p>Nice to meet you, first time here?</p>
            <p></p>
            <p><a href="{{ url_for('auth.register') }}">Click here to regiser!</a></p>
    {% endif %}
  </div>
</div>
{% endblock %}
